body{
font-family: Arial;
margin:0;
background:#f5f7fa;
}

header{
background:#0f172a;
color:white;
text-align:center;
padding:80px 20px;
}

button{
background:#4f46e5;
color:white;
border:none;
padding:12px 25px;
cursor:pointer;
border-radius:8px;
}

section{
padding:60px 20px;
text-align:center;
}

.cards{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.card{
background:white;
padding:20px;
width:250px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.calculator input{
display:block;
margin:10px auto;
padding:10px;
width:200px;
}

footer{
background:#0f172a;
color:white;
padding:20px;
text-align:center;
}
